/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 700px) {
  :root {
    --vertical-space: var(--vertical-space-large);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: #000000;
    --color-background-secondary: #ffffff;
    --color-accent: #660000;
    --color-protection: rgba(255, 255, 255, 0.5);
  }
}

/** Letur og stærðir **/

html {
  font-size: var(--font-size-base);
  color: var(--color-background-secondary);
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf")
    format("woff2");
}

@font-face {
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Gelasio-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-family: "Gelasio";
  font-weight: 700;
  src: url("./fonts/Gelasio-VariableFont_wght.ttf") format("woff2");
}

html,
input,
select,
button {
  font-family: var(--font-family-base);
}

h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** Stærð á letri erfist frá foreldri í form element **/
input,
button,
select {
  font-size: inherit;
}

/** Almennt takka útlit, getur virkað á bæði <a> og <button> **/
.button {
  display: inline-block;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  border: 0;
  border-radius: var(--border-radius-regular);

  color: var(--color-background-primary);
  background-color: var(--color-background-secondary);
  font-size: 1rem;
  text-decoration: none;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 + verkefni 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body> sem á að fylgja þessu (<nav> ætti að vera undanskilið).
 */
.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);

  /* grid items eru miðjuð */
  justify-items: center;

  /* pláss fyrir nav, það er nákvæmlega svona hátt */
  margin-top: var(--height-nav);
  width: 100%;
  min-height: 100vh;

  background-color: var(--color-background-primary);
}

.wrapper main {
  flex: 1;
}

header {
  margin-top: var(--vertical-space);
  text-align: center;
}

header h1 {
  font-size: calc(var(--font-size-headings) * 2);
  text-transform: uppercase;
}

/** Meginmál og efni forsíðu **/

main {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  /* grid items eru miðjuð */
  justify-items: center;

  gap: var(--spacing);

  width: var(--width-offset);
  max-width: var(--max-width);
}

main > section {
  width: 100%;
}

/** Efnissíða **/

.content section {
  margin-bottom: var(--spacing);
}

/** Töflur **/

/* Leyfir skroll á töflu ef pláss er ekki nóg til að birta hana alla lárétt */
.table-wrapper {
  overflow-x: auto;
}

table {
  margin-bottom: var(--spacing);
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  padding: calc(var(--spacing) / 2);
  text-align: left;
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-accent);
}

/** Form **/

form {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  gap: var(--gutter);

  width: 100%;
}
