/** Forsíða inngangsmynd **/

.intro {
  display: flex;
  position: relative;

  margin-top: 0;
  width: 100%;
  min-height: calc(100vh - var(--height-nav));

  color: var(--color-background-primary);

  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./myndir/background.jpg);
}

.intro .protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: var(--color-protection);
}

.intro .content {
  position: relative;
  z-index: 2;

  margin: auto;
  align-items: center;
  justify-content: center;

  font-size: 2em;
}

.intro .content h1 {
  margin-top: calc(var(--spacing) * -4);
}

.intro .content h1,
.intro .content h2 {
  margin-bottom: calc(var(--spacing) * 4);
}
