/** Sýna grind? */
$grid: true;


/** Stillingar **/

:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;

  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;

  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1100px;

  /* Hæð á nav */
  --height-nav: 4rem;

  /* Grind */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space-small: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  --vertical-space: var(--vertical-space-small);

  /* Border breiddir */
  --border-nav: 2px solid var(--color-background-secondary);
  --border-radius-regular: 5px;

  /* Litir */
  --color-background-primary: #fff;
  --color-background-secondary: #000;
  --color-accent: #f99;
  --color-protection: rgb(0 0 0 / 35%);

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Gelasio", "Georgia", serif;
  --font-family-heading: "Atkinson Hyperlegible", "Courier New", monospace;
}
